#logo {
    width:5em;
    height:auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
}

.signup-button{
  margin-left: 0.5em;
}

.username{
  margin-right: 0.5em;
}